{% if version.tag and from.tag -%}
## [{{ version.tag }}]({{ repository_url ~ "/compare/" ~ from.tag ~ ".." ~ version.tag }}) - {{ date | date(format="%Y-%m-%d") }}
{% elif version.tag and from.id -%}
## [{{ version.tag }}]({{ repository_url ~ "/compare/" ~ from.id ~ ".." ~ version.tag }}) - {{ date | date(format="%Y-%m-%d") }}
{% else -%}
    {%- set from_shorthand = from.id | truncate(length=7, end="") -%}
    {%- set to_shorthand = version.id | truncate(length=7, end="") -%}
    ## Unreleased ([{{ from_shorthand ~ ".." ~ to_shorthand }}]({{ repository_url ~ "/compare/" ~ from_shorthand ~ ".." ~ to_shorthand }}))
{% endif -%}
{% for value in commits | group_by_type -%}
#### {{ value.0 | upper_first }}
{% for scope, scoped_commits in value.1 | group_by(attribute="scope") -%}
{% for commit in scoped_commits | sort(attribute="scope") -%}
{%- set commit_link = repository_url ~ "/commit/" ~ commit.id -%}
{%- set shorthand = commit.id | truncate(length=7, end="") -%}
{%- if commit.breaking_change -%}
{%- set breaking_badge = "![BREAKING](https://img.shields.io/badge/BREAKING-red) " -%}
{%- else -%}
{%- set breaking_badge = "" -%}
{%- endif -%}
{%- if " (#" in commit.summary -%}
{%- set sum_parts = commit.summary | split(pat=" (#") -%}
{%- set pr_num = sum_parts[1] | split(pat=")") | first -%}
{%- set display_summary = sum_parts[0] ~ " ([#" ~ pr_num ~ "](" ~ repository_url ~ "/pull/" ~ pr_num ~ "))" -%}
{%- else -%}
{%- set display_summary = commit.summary -%}
{%- endif -%}
- {{ breaking_badge }}{% if commit.scope %}(**{{ commit.scope }}**) {% endif %}{{ display_summary }} - ([{{ shorthand }}]({{ commit_link }}))
{% endfor -%}
{% endfor -%}
{% for commit in value.1 | unscoped -%}
{%- set commit_link = repository_url ~ "/commit/" ~ commit.id -%}
{%- set shorthand = commit.id | truncate(length=7, end="") -%}
{%- if commit.breaking_change -%}
{%- set breaking_badge = "![BREAKING](https://img.shields.io/badge/BREAKING-red) " -%}
{%- else -%}
{%- set breaking_badge = "" -%}
{%- endif -%}
{%- if " (#" in commit.summary -%}
{%- set sum_parts = commit.summary | split(pat=" (#") -%}
{%- set pr_num = sum_parts[1] | split(pat=")") | first -%}
{%- set display_summary = sum_parts[0] ~ " ([#" ~ pr_num ~ "](" ~ repository_url ~ "/pull/" ~ pr_num ~ "))" -%}
{%- else -%}
{%- set display_summary = commit.summary -%}
{%- endif -%}
- {{ breaking_badge }}{% if commit.scope %}(**{{ commit.scope }}**) {% endif %}{{ display_summary }} - ([{{ shorthand }}]({{ commit_link }}))
{% endfor -%}
{% endfor -%}
